*.pyc
*.pytest_cache
TODO.txt
_tests/
_experiments/
_deprecated/
_old
*.nk
icons/
test_app.bat
*test_code.py
QTDark.stylesheet
test_code_objects.py
*tost_code.py
*.sublime-workspace
*.sublime-project
*.h
*.cpp
*.dot
test_app_python27.bat